@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

.header-container {
	background-attachment: fixed;
	background-image: url(../img/capa-madmax2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 835px;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
}

.header-container:after {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 212, 255, 0) 75%
	);
	content: "";
	height: 88%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.container {
	z-index: 2;
}

.nav-header {
	display: flex;
	justify-content: space-between;
}

.nav-header ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

.nav-header ul li {
	margin: 0 25px;
}

.nav-header ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	transition: color 0.2s ease-in-out;
}

.nav-header ul li a:hover {
	color: #e4bb23;
}

.header-user {	
	display: flex;
	align-items: center;
}

.header-user .user-image img {
	width: 48px;
	border-radius: 50%;
	margin-right: 14px;
}

.header-user .user-name {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.header-content .container {
	position: relative;
}

.header-content h2 {
	color: #fff;
	font-size: 65px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;

}

.header-category {
	display: flex;
	margin: 16px 0 30px;
	font-size: 13px;
}

.header-category a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 14px;
	transition: color 0.2s ease-in-out;
}

.header-category a:hover {
	color: #bc9a1d;
}

.btn {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #000;
	background: #e4bb23;
	padding: 16px 48px;
	border-radius: 40px;
	font-size: 15px;
	transition: background-color 0.2s ease-in-out;
}

.btn:hover {
	background-color: #bc9a1d;
}

.btn i {
	font-size: 20px;
	position: absolute;
	right: 14px;
	top: 16px;
}

.header-content .header-info {
	padding: 20px 0;
	font-size: 14px;
}

.header-info-date {
	color: #bc9a1d;
}

.header-info-place {
	color: #fff;
}

.catalog {
	background-color: #f2f2f2;
	width: 100%;
}

.catalog nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 20px;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.catalog nav ul li {
	margin: 0 20px;
}

.catalog nav ul li a {
	font-size: 13px;
	font-weight: bold;
	color: #e4bb23;
	text-decoration: none;
	text-transform: uppercase;
	padding: 21px 0;
	transition: box-shadow 0.2s ease-in-out;
}

.catalog nav ul li a:hover {
	box-shadow: inset 0 -1px 0 #e4bb23;
}

.catalog .movie-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	width: 100%;
}

.catalog .movie-list li {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 8px;
	margin-bottom: 30px;
	overflow: hidden;
	width: 24%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.catalog .movie-list li figure {
	margin: 0;
	position: relative;
	cursor: pointer;
}

.catalog .movie-list li figure img {
	width: 100%;
}

.catalog .movie-list li figure .movie-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 80px 20px;
	position: absolute;
	z-index: 1;
	text-align: center;
	height: 99%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.catalog .movie-list li figure .movie-details h3 {
	color: #e4bb23;
	font-size: 1.4em;
	line-height: 1em;
	text-transform: uppercase;
}

.catalog .movie-list li figure .movie-details-link {
	color: #fff;
	font-size: 5em;
	transition: color 0.2s ease-in-out;
}

.catalog .movie-list li figure .movie-details-link:hover {
	color: #e4bb23;
}

.catalog .movie-list figure:hover .movie-details {
	opacity: 1;
	visibility: visible;
}

.catalog .movie-list .movie-synopsis {
	padding: 10px;
}

.catalog .movie-list .movie-synopsis h3 {
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.catalog .movie-list .movie-sysnopsis-category a {
	text-decoration: none;
	font-size: 12px;
	color: #e4bb23;
}

.catalog .movie-list .movie-sysnopsis-category {
	margin: 10px 0;
	display: flex;
}

.catalog .movie-list .movie-sysnopsis-category a:hover {
	text-decoration: underline;
}

.catalog .movie-list .movie-synopsis .movie-note {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.catalog .movie-list .movie-synopsis .movie-note i {
	color: #ccc;
}

.catalog .movie-list .movie-synopsis .movie-note i:hover {
	color: #ff0000;
	cursor: pointer;
}